<style>
  body {
    margin: 0;
    pading: 0;
  }
  .year {
    position: absolute;
    text-align: center;
    font-size: 70px;
    color: #454545;
    font-family: arial, sans-serif;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    width: 200px;
    top: 50%;
    margin-top: -40px;
    right: 50%;
    margin-right: -100px;
  }
</style>
<div class="year">
  <%= Time.now.year %>
</div>
